body {
	margin: 0;
	padding: 0;
}

.upp img{
	width: 90px;
	height: 70px;
	opacity: 0;
	
	margin: 0;
	padding: 0;
}
.upp {
	
	width: 90px;
	margin: 0;
	margin-left: 50px;
	z-index: 9999;
	bottom: 20px
}

.upp_fixed {
	position: fixed;
	opacity: 0.7;
	animation-name: show_button_upp;
	animation-duration: 1s;
}
@keyframes show_button_upp {
	0%{
		opacity: 0;
		bottom: -70px;
	}
	100%{
		opacity: 0.7;
		bottom: 0;
	}

}

#imagelightbox {
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}

.imageLightbox
{
    selector:       'id="imagelightbox"',   // string;
    allowedTypes:   'png|jpg|jpeg|gif',     // string;
    animationSpeed: 250,                    // integer;
    preloadNext:    true,                   // bool;            silently preload the next image
    enableKeyboard: true,                   // bool;            enable keyboard shortcuts (arrows Left/Right and Esc)
    quitOnEnd:      false,                  // bool;            quit after viewing the last image
    quitOnImgClick: false,                  // bool;            quit when the viewed image is clicked
    quitOnDocClick: true,                   // bool;            quit when anything but the viewed image is clicked
    onStart:        false,                  // function/bool;   calls function when the lightbox starts
    onEnd:          false,                  // function/bool;   calls function when the lightbox quits
    onLoadStart:    false,                  // function/bool;   calls function when the image load begins
    onLoadEnd:      false                   // function/bool;   calls function when the image finishes loading
}


.header {
	padding-top: 0;
	margin-top: 0;
	height: 480px;
	background-image: url(img/Header_BG.png) ;
	background-size: cover;
	
}

#spk {
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
	font-family: Franklin Gothic Book;
	color: white;

}

#name {
	text-align: center;
	color: white;
	 font-size: 60px;
    font-family: "Franklin Gothic Medium";
    margin-bottom: 0;
}

#name2 {
	margin-bottom: 58px;
  font-size: 36px;
 font-family: "Franklin Gothic Book";
  color: white;
  font-style: italic;
  text-align: center;


}

.nav a{
	text-decoration: none;
	color: white;
	font-family: "Franklin Gothic Book";
	margin-bottom: 0px;
	margin-top: 15px;
	word-spacing: 10px;
	margin-left:20px;
	margin-right: 20px;


}
.nav{
	margin: 0 auto;
	display: flex;
	justify-content: center;

}
.sidebar {
	display: flex;
	flex-wrap: wrap;
	background: black;
	opacity: 0.6;
	border-top: white solid 3px;
	border-bottom: white solid 3px;
	width: 100%;
	font-size: 24px;
	height: 60px;
	z-index: 999px;
}
.header_fixed{
    position: fixed;
   	top:0;
   	z-index: 9999;
    animation: showElement;
    animation-duration: 2s;
}

.nav1:hover {
	background:#05192E;
}

.nav1::after {
	background: #006ADB;
}


.nav1 {
	transition: background .3s ease-in-out;
	height: 44px;
	padding-top: 15px;		
}



.biografy1 {
	background: #35ABEB;
	height: 650px;
	text-align: flex-start;
	background-size: 100%;
	display: flex;
	justify-content: center;
	box-shadow: 0px 7px 50px -9px #000000;

}

.biografy1 .main_content {
margin-top: 130px;
}


.biografy1 .main_content h3 {
  font-size: 36px;
  font-family: "Franklin Gothic Book";
  color: rgb(254, 254, 254);
  line-height: 0.667;
  display: flex;
  text-align: justify-left;
  margin-bottom: 15px;
  margin-left: 230px;
 
}

.biografy1 .main_content p {
  font-size: 24px;
  font-family: "Franklin Gothic Book";
  color: rgb(254, 254, 254);
  line-height: 1.2;
  width: 569px;
  height: 250px;
  margin-top: 0;
  text-align: justify;  
}
.biografy1 img {

	width: 400px;
	height: 470px;
	border: 10px solid white;
	border-radius: 10px;
	margin-left: 60px;
	margin-top: 80px;
}


.biografy2 {
	display: flex;
	flex-direction: column;
	width: 1100px;
	height: 1680px;
	align-items: center;
	margin: auto;
	
}


.biografy2 h3 {
	margin-top: 130px;
	
  font-size: 48px;
  font-family: "Franklin Gothic Medium";
  color: rgb(26, 66, 139);

}

.bio2_text {
	
  font-size: 24px;
  font-family: "Franklin Gothic book";
  color: black;
  line-height: 1.2;
  text-indent: 30px;
  font-weight: 400;
	margin-bottom: 180px; 


}



#ws_first_word p {

  font-size: 52px;
  font-family: "Franklin Gothic Medium";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 0;
  line-height: 10%;
}

#ws_second_word  {

  font-size: 52px;
  font-family: "Franklin Gothic Medium";
  color: white;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 0;  
}


.content_worldskills  {
	
	width: auto;
	height: 3050px;	
	background: url(img/BG_Achivments.png) no-repeat;
	background-size: cover;
	color: white;
	margin-bottom: 10px;
}
.worldskills {
	
	margin: 0 auto;
	width: 1000px;
	padding-top: 300px;
}

#ws_1head {
  
  
  font-family: "Franklin Gothic Book";
  color: rgb(255, 255, 255);
  line-height: 0.75;
  text-align: right;
  font-size: 40px;
  margin: 0;
  float: right;
  width: 600px;

  
}
#ws_1text {
  font-size: 20px;
  font-family: "Franklin Gothic Book";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: justify;
  float: right;
	margin-top: 0;
  height: 250px;
  width: 580px; 
 
}

#ws_2head {
  
  font-size: 40px;
  font-family: "Franklin Gothic Book";
  color: rgb(255, 255, 255);
  line-height: 0.75;
  margin: auto;
  float: left;
  
}
#ws_2text {
  font-size: 20px;
  font-family: "Franklin Gothic Book";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-right: 0;
  height: 250px;
  width: 580px; 
  margin: 0;
	float: left;
	text-align: justify;
}

#hr1 {
	width: 580px;
	height: 3px;
	border: white solid 3px;
	float: right;
	background: white;
}
#hr2 {
	width: 560px;
	height: 3px;
	border: white solid 3px;
	float: left;
	background: white;
}

.con_ws2 {
	margin-top: 50px;
	height: 500px;
}
.con_ws1 {
	height: 500px;
}

.con_ws1 #img1 {

	width: 300px;
	height: 230px;	
}

.con_ws2 #img2 {

	width: 300px;
	height: 230px;
	margin-left: 70px;
	margin-bottom: 30px;

}

.sep_ws hr {
	width: 660px;
	border: solid 8px black;
	background: black;
	margin-top: 16px;

	
}
#hr_sep1 {
	float: right;
	display: block;
}
#hr_sep2 {
	float: left;
	display: block;
}

 .ws_specialist p{

  font-size: 52px;
  font-family: "Franklin Gothic Book";
  color: white;
  line-height: 1.2;
  text-align: center;
  margin:20px;
  font-weight: bold;
 
}

.ws_specialist {
	height: 1000px;
}
.ws_specialist .file1 {
	height: 320px;
	margin-top: 80px;
	margin-bottom: 80px;
}

.ws_specialist img {
	border: 3px solid white;
	background:linear-gradient(to top right, #39ABEC,#008BEC ) ;
	width: 200px;
	height: 320px;
	display: inline-block;
	margin: 10px;
	padding: 10px;

}

.news {
	height: 1450px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.news .main_content {
	
	height: 1180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}



.news_head p {
	padding-top: 50px;
  font-size: 75px;
  font-family: "Franklin Gothic Book";
  font-weight: bold;
  color: rgb(41, 135, 232);
  line-height: 1.2;
	text-align: center;
	margin-bottom: 80px;
}

.file2 {
	height: 420px;
	
	margin-top: 50px;
	display: flex;
	

}

.file2 #news {
	width: 280px;
	height: 380px;
	background:#ADADAD;
	border: solid #ADADAD 3px;
	border-radius: 20px;
	margin-left: 20px;
	margin-right: 20px;



}

.file2 #news #bold_text {

  font-size: 13px;
  font-family: "Franklin Gothic Medium";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  height: auto;
  width: auto;
  margin-left: 10px;
  padding-top: 10px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  

}



.file2 #news p {
	
  font-size: 12px;
  font-family: "Franklin Gothic Book";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  height: auto;
  width: auto;
	margin-left: 10px;
	margin-right: 10px;
  margin-bottom: 0;
  margin-top: 0;
  

}

.file2 img {
	margin-top: 40px;
	width: 270px;
	margin-left: 5px;
	border-radius: 20px;

}



.study {
	background:url(img/BG_Study.png);
	background-size: cover;
	width: all;
	height: 1460px;
}


#head_study p{
	padding-top: 120px;
	margin: 0;
  font-size: 68px;
  font-family: "Franklin Gothic book";
  text-transform: uppercase;
  line-height: 0.5;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
}

#hr_study {
		border: solid 10px black;
	background: black;
	margin-top: 16px;	
}

.study .main_content {
	margin: 0 auto;
	width: 1160px;
	height: 720px;
	margin-top: 120px;
	margin-bottom: 120px;
	

}

#study_text {
	width: 500px;
	float: right;
  	font-size: 20px;
  	font-family: "Franklin Gothic Book";
  	color: white;
  	line-height: 1.2;
  	
 }


.study .ramka {

	width: 600px;
	height: 650px;
	border: 25px solid white;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}

.study .ramka p {
	
  font-size: 38px;
  font-family: "Franklin Gothic Medium";
  color: white;
  font-weight: 100;
	margin-top: 40px;
	
  text-align: center;

}
.study .ramka img {
	width: 530px;
	margin-top: 45px;
	border: 8px solid white;

	margin-left: 28px;
	margin-right: 28px;
}

.study .study_footer {
	height: 310px;
	width: 1160px;
	margin: 0 auto;
	border: 10px solid white ;
	background: black;
	opacity: 0.7;
  	
}

.study_footer  {
	color: white;
	font-size: 24px;
  	font-family: "Franklin Gothic Book";
	padding-left: 50px;
}
.study_footer a{
	color: white;
} 
.study .study_footer #footer_head{

  font-size: 36px;
  font-family: "Franklin Gothic Book";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.667;
  text-align: center;

}
.study .study_footer hr {
	width: 1100px;

}
.study .study_footer  {

}

.footer {
	width: 1160px;
	height: auto;
	margin: 0 auto;

}
.footer p {

  font-size: 20px;
  font-family: "Franklin Gothic Book";
  color: rgb(14, 14, 14);
  line-height: 1.2;
  text-align: left;
  width: 860px;
  padding: 0;
  margin: 0;

}

.footer li:before {

  font-size: 20px;
  font-family: "Franklin Gothic Book";
  color: rgb(14, 14, 14);
  line-height: 1.2;
  text-align: left;
  width: 860px;
  padding: 0;
  margin: 0;

}
.footer .main_text {
	margin-top: 60px;
	margin-bottom: 18px;
	width: 720px;
	margin-right: 0px;
	float: left;
}

.href img {
	width: 45px;
	height: 45px;
	float: right;
	margin-top: 60px;
	padding: 10px;

}
.href {
	padding-right: 60px;
}